/* #main_text {
	text-align: right;
	font-size: 20px;
	font-weight: 100;
    font-style: italic;
  	text-align: left;
	color: #ffffff;
	width: 475px;
	padding: 37px 37px 0 0;
	float: right;
}*/

aside {
	font-weight: bold;
	font-size: 15px;
	background: #ffffff;
	background: linear-gradient(to right, #ededed, #ffffff 22px);
	width: 260px;
	float: right;
}

aside .header_aside {
	text-align: left;
	padding-left: 22px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 40px;
	background: linear-gradient(to right, #cfcfcf, #ffffff);
}

aside #site_navigator {
	float: left;
}

#ul_aside_div {
	padding: 14px 0 0 22px;
	float: left;
}


#our_clients {
	text-align: center;
	float: left;
}

#aside_img {
	padding-top: 34px;
	float: left;
}

aside .c1 {
	list-style-position: inside;
}

aside .c1 :nth-child(odd) {
	font-size:12px;
	font-weight: 100;
	color: #0f4db6;
	text-align: left;
	list-style-image: url("images/ul_marker_aside.gif");
	padding-top: 8px;
}

aside .c1 :nth-child(even) {
	font-family: "Arial";
	font-size:12px;
	font-weight: 100;
	color: #838383;
	text-align: left;
	list-style: none;
}

.li_margin_context {
	padding-left: 12px;
}

section {
	font-size: 12px;
	width: 960px;
	text-align: left;
	line-height: 2;
	background: #ffffff;
	color: #565656;
	background: linear-gradient(to right, #ededed 700px, #ffffff 722px);
}

#content {
	width: 700px;
	background: #ffffff;
}

section p {
	padding: 40px 28px 0px 40px;
}

section p:first-child {
	padding-top: 124px;
}

section p:last-child {
	padding-bottom: 40px;
}