section {
	font-size: 12px;
	width: 700px;
	text-align: left;
	line-height: 2;
	background: #ffffff;
	color: #565656;
	float: left;
}

section p {
	padding: 40px 28px 0px 40px;
}

section p:last-child {
	padding-bottom: 40px;
}
