@font-face {
	font-family: "nevis";
	src: url('font/Nevis/nevis.ttf');
}

aside {
	background: #ffffff;
	background: linear-gradient(to right, #ededed, #ffffff 22px);
	width: 260px;
	float: right;
}

aside .header_aside {
	text-align: left;
	width: 238px;
	padding-left: 22px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	background: linear-gradient(to right, #cfcfcf, #ffffff);
}

#header_company_info {
	margin-top: 40px;
}


#company_info,
#contact_details,
#contact_with_us,
#ul_aside_div,
#ul_aside_div_second {
	float: left;
}

#ul_aside_div,
#ul_aside_div_second {
	padding: 14px 0 0 22px;
}

#contact_with_us {
	text-align: left;
}

#ref_social_aside {
	margin: 18px 0 0 26px;
}

.social_buttons {
	width: 30px;
	height:30px;
	margin-right: 14px;
	border-radius: 2px;
	box-shadow: 1px 8px 8px 1px rgba(122,122,122,.75);
	float: left;
}

.social_buttons:hover {
	box-shadow: 0px 4px 4px 0px rgba(122,122,122,.75);
	margin-top: 2px;
	opacity: .8;
}


/*#ref_social_aside li {
	margin-right: 14px;	
	display: inline-block;
}*/

/*#ref_social_aside img {
	box-shadow: 1px 8px 8px 1px rgba(122,122,122,.75);	
}*/

/*#ref_social_aside img:hover {
	box-shadow: 0px 4px 4px 0px rgba(122,122,122,.75);
	margin: 1px 1px 0 0;
	opacity: .7;
		
}*/

aside .c1 {
	list-style-position: inside;
}

section {
	font-size: 12px;
	width: 960px;
	text-align: left;
	line-height: 2;
	background: #ffffff;
	color: #565656;
	background: linear-gradient(to right, #e9e9e9, #ffffff 9px, #ededed 701px, #ffffff 722px);
	
}

section #contentContact {
	width: 700px;
	background: #ffffff;
	background: linear-gradient(to right, #e9e9e9, #ffffff 9px);
}

#contact_form {
	
	margin-left: 41px;
	margin-top: 84px;
	
}

.form_config_contact {
	width: 381px;
	height: 29px;
	border: 1px solid #fefefe;
	border-radius: 2px;
	background: linear-gradient(to bottom,#eeeeee, #fefefe 29px);
}

#text_area {
	height: 159px;
	background: linear-gradient(to bottom, #eeeeee, #fefefe 36px);
	resize: none;
}

 .border_design {
 	width: 383px;
	height: 31px;
	border: 1px solid #cacaca;
	border-radius: 2px;
	margin-top: 12px;
 }
 
.border_design_textarea {
	
	width: 383px;
	height: 161px;
	border: 1px solid #cacaca;
	border-radius: 2px;
	margin-top: 12px;
	
}

.value_form {
	font-size: 13px;
	padding-top: 26px;
 }
 
 #submit_form {
 	width: 96px;
 	height: 25px;
 	font-family: "nevis";
 	font-size: 12px;
 	font-style: bold;
 	border: 1px solid #cdcdcd;
 	border-radius: 2px;
 	color: #6c6c6c;
 	background: linear-gradient(to bottom, #fafafa, #e2e2e2);
 	margin: 19px 0 63px 0;
 	box-shadow: 0 3px 3px 0 rgba(243,243,243,.75);
 	
 	
 	
 }
 
 label {
 	
 	
 	
 }
