footer {
	color: #4f4f4f;
	background: linear-gradient(to top, #ededed 98%, #bababa);
	text-align:left;
	width: 960px;
	float: left;
	border-radius: 0 0 5px 5px;
}

#top_footer {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 30px;
	float: left;
}

.column_footer {
	padding-top: 28px;
	line-height: 1.333;
	height: 185px;
	/*border-bottom: 1px solid #cccccc;*/
	float:left;
}

#about_our_company {
	width: 227px;
	padding-left: 43px;
}

#our_testimonials {
	width: 305px;
	padding-right: 65px;
}

#from_our_blog {
	width: 320px;
}

footer #about_our_company h2,
footer #our_testimonials h2 {
	padding-bottom: 30px;
}

footer #from_our_blog h2 {
	padding-bottom: 20px;
}

.p_from_our_blog {
	padding-bottom: 19px;
		
}

.p_from_our_blog span {
	color: #0f4db6;
	font-weight: bold;
}

#from_our_blog p {
	padding-right: 37px;
}

#copyright_footer {
	border-top: 1px solid #ffffff;
	text-align: left;
	width: 960px;
	height: 59px;
	float: left;
}

footer #copyright_footer p {
	padding: 23px 0 0 42px;
}

#logo_footer {
	width: 117px;
	position: relative;
	left: 802px;
	top: -16px;
}

#twitter_social {
	width: 21px;
	position: relative;
	top: -37px;
	left: 641px;
	
}

#in_social {
	width: 21px;
	position: relative;
	top: -60px;
	left: 673px;
	
}

#facebook_social {
	width: 21px;
	position: relative;
	top: -82px;
	left: 708px;	
}
