#logo_nav {
	height: 98px;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
}

#logo_phone {
	text-align: left;
	float: right;
}

#logo {
	width: 230px;
	position: relative;
	top: 31px;
	left: 41px;
}

#logo_image {
	width: 42px;
	text-align: left;
	float: left;
}

#nav {
	width: 490px;
	text-align: left;
	padding-top: 12px;
	float: right;
}

#nav li {
	margin-right: 50px;
	font-weight: bold;
	color: #808080;
	display: inline-block;
}

#nav li:first-child, #nav li:nth-child(2) {
	margin-right: 35px;
} 

#nav li:last-child {
	margin-right: 0px;
}

#button_nav_header {
	width: 66px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #01224c;
	border-radius: 6px; 
	background: #1961c1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#1961c1, #003985, #1961c1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1961c1, #003985, #1961c1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1961c1, #003985, #1961c1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1961c1, #003985, #1961c1); /* Standard syntax */
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}

#panel {
	text-align: left;
	width: 960px;
	height: 84px;
	background-image: url("images/header_panel grad.png");
	background-repeat: no-repeat;
	float: left;
}

#h2_panel_header {
	font-size: 24px;
	color: #ffffff;
	width: 125px;
	padding: 34px 0px 0px 40px;
	float: left;
}

 #panel #main_text {
	text-align: right;
	font-size: 20px;
	font-weight: 100;
    font-style: italic;
  	text-align: left;
	color: #ffffff;
	width: 475px;
	padding: 37px 37px 0 0;
	float: right;
}
