#logo_nav {
	height: 98px;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
}

#logo_phone {
	float: right;
}

#logo {
	width: 230px;
	padding: 31px 0 0 41px;
}

#nav {
	width: 490px;
	position: relative;
	left: 440px;
	bottom: 20px;
}

#nav li {
	margin-right: 50px;
	font-weight: bold;
	color: #808080;
	display: inline-block;
}

#nav li:first-child, #nav li:nth-child(2) {
	margin-right: 35px;
} 

#nav li:last-child {
	margin-right: 0px;
}

#button_nav_header {
	width: 66px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #01224c;
	border-radius: 3px; 
	background: #1961c1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#1961c1, #003985, #1961c1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1961c1, #003985, #1961c1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1961c1, #003985, #1961c1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1961c1, #003985, #1961c1); /* Standard syntax */
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}

#panel {
	position: relative;
}

#panel #abus {
	font-size: 25px;
	color: #ffffff;
	width: 150px;
	position: absolute;
	bottom: 33px;
	left: 40px;
}
#panel #main_text {
	font-size: 20px;
	font-weight: 100;
    font-style: italic;
  	line-height: 1.2;
  	text-align: left;
	color: #ffffff;
	width: 500px;
	position: absolute;
	bottom: 33px;
	right: 38px;
}
