#logo_nav {
	height: 98px;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
}

#logo_phone {
	text-align: left;
	float: right;
}

#logo {
	width: 230px;
	position: relative;
	top: 31px;
	left: 41px;
}

#logo_image {
	width: 42px;
	text-align: left;
	float: left;
}

#nav {
	width: 510px;
	text-align: left;
	padding-top: 12px;
	padding-right: 11px;
	float: right;
}

#nav li {
	margin-right: 16px;
	display: inline-block;
}

#nav li:last-child {
	margin-right: 0px;
}

.button_nav_header_active {
	font-weight: bold;
	color: #ffffff;
	border: none;
	border-radius: 5px; 
	background: #1961c1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#1961c1, #003985, #1961c1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1961c1, #003985, #1961c1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1961c1, #003985, #1961c1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1961c1, #003985, #1961c1); /* Standard syntax */
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}

.button_nav_header_hidden {
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background: none;
	color: #808080;
	-webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}

.button_nav_header_hidden:hover {
	font-weight: bold;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	background: #1961c1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#1961c1, #003985, #1961c1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1961c1, #003985, #1961c1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1961c1, #003985, #1961c1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1961c1, #003985, #1961c1); /* Standard syntax */
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}

.width_66 {
	width: 66px;
}

.width_100 {
	width: 100px;
}

.width_66, .width_100 {
	height: 26px;
}

#panel {
	text-align: left;
	width: 960px;
	float: left;
}

#h2_panel_header {
	font-size: 24px;
	color: #ffffff;
	width: 125px;
	padding: 34px 0px 0px 40px;
	float: left;
}