@font-face {
	font-family: trebuchet;
	src: url("font/trebuchet_ms/trebuchet_ms.ttf");
}

@font-face {
	font-family: nevis;
	src: url("font/Nevis/nevis.ttf");
}

/*style content block*/

#content_main {
	width: 960px;
	background: linear-gradient(to right, #e9e9e9, #ffffff 9px, #fefefe 951px, #e9e9e9); /*shadow on the adges block*/
	float: left;
}

.column_context {
	width: 265px;
	text-align: left;
	line-height: 1.4;
	margin-left: 40px;
	float: left;
}

.column_context h2 {
	font-size: 25px;
	font-weight: bold;
	color: #585858;
	margin: 40px 0 17px 0px;

}

.column_context p {
	margin: 25px 0 0 0;
	line-height: 1.5;
	color: #4f4f4f;
}

/*style list of middle column*/ 

.c1 {
	list-style-position: inside;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 52px;
}

.c1 :nth-child(odd) {
	font-size:12px;
	font-weight: 100;
	line-height: 1;
	color: #1b56ba;
	text-align: left;
	list-style-image: url("images/ul_marker_aside.gif"); /*image for marker list*/ 
	padding-top: 8px;
}

.c1 :first-child {
	padding-top: 0;
}

.c1 :nth-child(even) {
	font-family: "Arial";
	font-size:12px;
	font-weight: 100;
	line-height: 1;
	color: #838383;
	text-align: left;
	list-style: none;
}

.li_margin_context {
	padding-left: 12px;
}

.button_read_more {
	width: 96px;
	height: 25px;
	font-family: nevis;
	font-size: 12px;
	color: #6c6c6c;
	border: 1px solid #cdcdcd;
	border-radius: 3px; 
	background: linear-gradient(to bottom, #fafafa, #e2e2e2);
	margin-top: 17px;
	box-shadow: 0 3px 3px 0 rgba(243,243,243,.75);
}

/*style panel under header*/

#panel {
	text-align: left;

	height: 336px;	
	width: 960px;
	background: #1b64c8;
}

#panel #image_panel {
	filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#bg_01 {
	height: 336px;
	width: 960px;
	background: linear-gradient(to bottom, #072666, #1b64c8 130px);
	opacity: .8;
	float: left;
}

#bg_02 {
	width: 960px;
	float: left;
}

#panel #menu_header_2 {
	text-align: right;
	font-size: 13px;
	font-weight: 100;
	color: #93daff;
	width: 360px;
	padding: 41px 30px 0 0;
	float: right;
}

#menu_header_2 li {
	margin-right: 10px;
	display: inline-block;
}

#head_panel_header {
	font-size: 25px;
	color: red;
}

#text_block {
	width: 400px;
	text-align: left;
	font-family: trebuchet;
	color: #ffffff;
	position: relative;
	top: -247px;
	left: 50px;
}

#text_block_1 {
	width: 330px;
	font-size: 29px;
	float: left;
}	

#text_block_2 {
	width: 400px;
	font-size: 35px;
	float: left;
}

/*style button Get Started Here*/

#get_started_here {
	text-align: left;
	width: 256px;
	height: 51px;
	font-family: trebuchet;
	font-size: 20px;
	color: #b90016;
	border: none;
	border-radius: 8px; 
	background: linear-gradient(#fcfcfc, #f1f1f1 5px, #cbcbcb 26px, #d9d9d9 49px, #0939a7);
	margin-top: 30px;
	box-shadow: 0 4px 4px 0 rgba(9,57,167,.75);
}

/*style and position arrow for button Get Started Here*/

#arrow_button_get_started_here {
	width: 40px;
	position: relative;
	top: -32px;
	left: 219px;
}

#string_get_started_here {
	padding-left: 26px;
}

/*style right side panel*/

#v_design_v_code {
	width: 439px;
	height: 316px;
	position: relative;
	left: 491px;
	top: 41px;
}

#v_design_v_code_bg {
	width: 439px;
	height: 295px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px 10px 0 0;
}

#img_v_design_v_code {
	width: 398px;
	height: 268px;
	position: absolute;
	top: 48px;
	left: 20px;
	border-bottom: 1px solid #bcc0c5;
}

#v_design_v_code_bg_shadow_left {
	width: 20px;
	height: 22px;
	background: linear-gradient(46.5deg, transparent 50%, #bcc0c5 50%);
	position: absolute;
	top: 295px;
	left: 0px;
}

#v_design_v_code_bg_shadow_right {
	width: 21px;
	height: 22px;
	background: linear-gradient(-46.5deg, transparent 50%, #bcc0c5 50%);
	position: absolute;
	top: 295px;
	right: 0px;
}

#u_design_v_code_text {
	
	width: 177px;
	position: absolute;
	top: 14px;
	left: 25px;
}

#u_design_v_code_text p {
	
	font-weight: 500;
	font-size: 19px;
	color: #ffffff;
}

/*style panel blurbs*/

#panel_3_blurbs {
	width: 960px;
	height: 120px;
	background: #ebebeb;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #d1d1d1;
}

.block_3_blurbs {
	text-align: left;
	width: 305px;
	float: left;
}

#wallet_3_blurbs {
	padding: 39px 0 0 45px;
}

#clock_3_blurbs {
	padding-top: 34px;
}

#phone_3_blurbs {
	padding-top: 41px;
}

.image_3_blurbs {
	width: 91px;
	float: left;
}

.block_3_blurbs h3 {
	color: #575757;
	font-size: 15px;
}

#wallet_3_blurbs h3 {
padding-top: 9px;
}

#clock_3_blurbs h3 {
padding-top: 14px;
}

#phone_3_blurbs h3 {
padding-top: 7px;
}

.block_3_blurbs p {
	color: #4f4f4f;
	margin-right: 60px;
}



