aside {
	font-weight: bold;
	font-size: 15px;
	background: #ffffff;
	background: linear-gradient(to right, #ededed, #ffffff 22px);
	width: 260px;
	float: right;
}

aside .header_aside {
	text-align: left;
	padding-left: 22px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 40px;
	background: linear-gradient(to right, #cfcfcf, #ffffff);
}

aside #site_navigator {
	float: left;
}

#ul_aside_div {
	padding: 14px 0 0 35px;
	float: left;
	
}


#our_clients {
	text-align: center;
	float: left;
}

#aside_img {
	padding-top: 34px;
	float: left;
	
}

aside .c1 :nth-child(odd) {
	font-size:12px;
	font-weight: 100;
	color: #0f4db6;
	text-align: left;
	list-style-image: url("images/ul_marker_aside.gif");
	padding-top: 8px;
}

aside .c1 :nth-child(even) {
	font-family: "Arial";
	font-size:12px;
	font-weight: 100;
	color: #838383;
	text-align: left;
	list-style: none;
}

